<style>

        
        h1, {
           text-align: center; 
        }

        .blue {
            color: blue;
          }

          .green {
            color: green;
          }

          .red {
            color: red;
          }

          .big {
            font-size: 50px;
          }

          .small {
            font-size: 10px;         
         }

          .center {
            text-align: center;
          }

          .bold {
            font-weight: bold;
          }

          .font {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
          }

          .combine {
            color: orange
          }

          .combine {
            font-size: 50px;
          }

          .combine {
            font-weight: bold;
          }

          .styledFont {
            color: rgb(14, 210, 236)
          }

          .styledFont {
            font-style: italic;
          }

          .styledFont {
            font-family: fantasy;
          }

          img {
            border: 10px dashed rgb(17, 230, 212);
          }

            
      </style>